# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Environment Variables & Keys
.env
.env.local
credentials.json

# IDEs
.idea/
.vscode/

# Project Specific
output/
input_videos/
auth/*.json
!auth/.gitkeep

# System
.DS_Store
Thumbs.db

data/
logs/
finalTEMP_MPY_wvf_snd.mp4
sandbox/